.de {
    
position: absolute;
width: 334px;
height: 45px;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
letter-spacing: -0.02em;

color: #EBAA2D;

mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.dee{
    
position: relative;


margin-left: 3.5em;
margin-bottom:2em;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
letter-spacing: -0.02em;

color:#ce1f1f;

mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.as{
    width: 20em;
    position: relative;
    bottom: 8em;

}
.a{
    background-color: black;
    color: white;
    border-radius: 2em;
    border: none;
    height: 3em;
    width: 12em;
    position: relative;
    bottom: 9em;
    left: 2em;

}
.aww{
    position: relative;
width: 67px;
height: 45px;
bottom: 4.7em;
left: 6.5em;

font-family: 'Imprima';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 46px;
letter-spacing: -0.02em;

color: #3B67BD;

mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.aw{
    position: relative;
    bottom: 8em;
    font-size: 17px;
}
.aa{
    position: relative;
    left: 10em;
    bottom: 8em;
}
.aaa{
    position: relative;
    bottom: 4em;
}
.ari{
    width: 23em;
    height: 3em;
}
.arri{
    width: 11.5em;
    height: 3em;
    


}

.arrri{
    width: 11.5em;
    height: 3em;
    left: 2em;
}