.deeee{
    text-align: center;
}
.deeeee{
    position: relative;
    left: 3em;
    color:black;
}
.fo{
    padding-top: 3em;
}
.foo{
    background-color:whitesmoke;
    background-size: cover;
    
}
.sheee{
    font-size: 2em;
}
.foooo{
    padding-top: 10em;

}
.fooo{
    background-color:black ;
    background-size: cover;
    
}
